/* Features */
// .features--section {
//     // padding-bottom: 0;
// }

// .features__list {
//     // display: flex;
// }

.features__title {
    visibility: hidden;
    font-size: 0;
}

.features__subtitle {
    text-align: center;
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.features__item {
    max-width: 450px;
    // width: 270px;
    margin: 0 auto;
    &:not(:last-child) {margin-bottom: 30px;};
    // &:not(:first-child) {
    //         margin-left: 30px;
    //     }
}

.features__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.features__box {
    max-width: 450px;
    // width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;

}